/* ------fonts styles----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* -----header style---- */
.flexible-container{
    width: 100%;
    height: 677px;
    display: flex;
    justify-content: space-around;
    background-color: #2D25A0;   
}
/* ---working of mouse---- */
.flexible-container:hover{
    background-color: tomato;
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}
.banner-info{
    margin-top: 207px;
} 
.banner-title{
    margin: 0%;
    margin-bottom: 27px;
    color: white;
    font-size: 64px;
}
.link-button{ 
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    padding-left: 24px;
    padding-top: 10px;
    padding-right: 46px;
    padding-bottom: 10px;
}
i{
    color: white;
    margin-left: 8px;
}
.banner-img{
    margin-top: 153px;
}
/* -----main styles----- */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-row-gap:30px;
    grid-column-gap:30px;
    margin-top: 70px;
    padding-left: 195px;
    padding-right: 210px;
}
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 426px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px; 
    padding-bottom: 15px;
}
.player img{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}
.player-name{
    font-size: 28px;
    margin: 0%;
    margin-bottom: 10px;
}
p{ 
    font-weight: normal;
    font-size: 16px;
    margin: 0%;  
}
.highlights-container{
    display: flex;
    justify-content: space-between;
    row-gap: 69px;
    margin-right: 153px;
    margin-left: 182px;    
}
.highlights-title{
    margin-top: 224px;
    width: 469px;
    height: 120px;
    font-size: 48px;
}
.highlights-img{
    margin-top: 167px;
    margin-bottom: 100px;    
}
.high-info{
    width: 404px;
    height: 113px;
}
/* ----extra styles---- */
.extra-container{
    text-align: center;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
#extra-logo, .top-blogs{
    display: flex;
    justify-content: center;
    column-gap: 15px;
}
.blogs{
    width: 600px;
   color: gray; 
}
.blog-title, .blog-info{
    text-align: left;
    width: 500px;
    padding-left: 50px;
}
.thumbnail:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
/* ----footer styles--- */
footer{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 63px;
} 
 #foot-icons{
    display: flex;
    justify-content: center;
    column-gap: 14px;
} 
.far{
    color: black;
}
/* mobile devices */
@media only screen and (max-width:688px) {
    .flexible-container{
        width: 100%;
        height: 0%;
        flex-direction: column;    
    }    
    .banner-img, .banner-info, .highlights-img{
        width: 0%;
        height: 0%;
        flex-direction: column;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .highlights-container, .extra-container, .top-blogs, .footer img, .banner-img{
        flex-direction: column;
    }
    .extra-container, .top-blogs, .highlights-container, .banner-img{
        margin-left: 0%;
        margin-right: 0%;
        text-align:left;
    }
}
/* tablet devices */
@media only screen and (min-width: 688px) and (max-width:992px) {
    .banner-img, .banner-info{
        width: 100%;
        height: 0%;
        flex-direction: column;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .player, .highlights-container, .extra-container, .top-blogs, .footer img, .banner-img{
        flex-direction: column;
    }
        .extra-container, .top-blogs, .highlights-container, .banner-img{
            margin-left: 0%;
            margin-right: 0%;
            text-align:left;
    }
}